<html>
    <head>
        <title><%= title %></title>
        <%- styles %>
    </head>
    <body>
        <%- include('_header') %>

        <%- body %>

        <%- include('_footer') %>
    </body>
    <%- scripts %>

</html>